<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Installed MonkeyLoader Mods" value="./MonkeyLoader Mods" />
    <add key="Installed MonkeyLoader GamePacks" value="./MonkeyLoader GamePacks" />
  </packageSources>
</configuration>